@charset "utf-8";
/* CSS Document */





html {
  scroll-behavior: smooth;
}



@font-face{
	 font-family:my;
	 src:url(../font/Scada-Regular.ttf);
	
	
	}

@font-face{
	 font-family:myfont;
	 src:url(../font/Scada-Bold.ttf);
	
	
	}

.wow:first-child {
      visibility: hidden;
    }

.outer{
	width:1280px;
	height:5196px;
	background:#1f1f1f;
	margin:0px auto;
	padding:0px;
	
	}
	
.header{
	width:1280px;
	height:724px;
	background:url(../images/images/De-02_01.jpg);
    font-family:myfont;
	
	}
	
	.logo{
	width:91px;
	height:100px;
	background:#A3595B;
	float:left;

	
	}
	
	.menu{
	width:840px;
	height:100px;
	
	float:right;

	
	}
	
		.menu ul{
           list-style:none;

	
	}
	
		.menu ul li {
	float:left;
	padding:25px;
	
	font-size:12px;
	
	}

.menu li:hover a{
	
	color:#A4F5FF;
	
}

.menu  a{
    text-decoration:none;
	color:#7E7C7C;
	line-height:70px;
	
	
}


	
	
	
		.slider2{
	width:736px;
	height:607px;
	
	float:right;

	
	}
	
		.slider2a{
	width:130px;
	height:36px;
	background:#f1f6fc;
	border:#FFFFFF solid 2px;
	border-radius:20px;
	text-align:center;
	line-height:35px;
	font-family:myfont;
	font-size:12px;
     
	
	}
	
	.slider2a a{
	
	text-decoration:none;
	color:#969696;
	
	
	}
	
.slider2a a:hover{
	
	text-decoration:none;
	color:#38AAA4;
	
	
	}			
	
.search{
	width:1280px;
	height:138px;
	background:#f5f5f5;
	clear:both;
    font-family:myfont;
	
	
	}	
	
	.search1{
	width:400px;
	height:138px;
	background:#f5f5f5;
	float:left;
    font-family:myfont;
	margin-left:26px;
	color:#333333;
	padding-left:55px;
	
	
	}
	
	.search1a{
	width:130px;
	height:40px;
	background:#5ac8d7;
	float:left;
	color:#FFFFFF;
	font-family:myfont;
	text-align:center;
	line-height:45px;
	border-radius:50px;
	font-size:12px;
  
	
	}
	
.search1a a{
	 text-decoration:none;
	  color:#FFFFFF;
	}
	
	.search1a a:hover {
	 color:#078C93;
	
	}
	
	
input{
	 border-radius:30px;
	 border:3px solid #CDCDCD;
	 padding:6px;
	}
	
.content{
	width:1280px;
	height:704px;
	background:#FFFFFF;
    font-family:my;
	clear:both;
	}	
	
	.contenta{
	width:640px;
	height:704px;
	background:#FFFFFF;
	float:left;
    
	
	}
	
		.contentb{
	width:590px;
	height:704px;
	background:#FFFFFF;
	float:right;
	padding-left:50px;
	font-size:12px;

	
	}
	
	
.pic{
	width:1280px;
	height:366px;
	background:#FFFFFF;
    font-family:my;
	color:#b4b4b4;
	
	}
	
	.pica{
	width:320px;
	height:366px;
	background:#f5f5f5;
     float:left;
	font-size:12px;
	
	}		
			
	
.pic1{
	width:1280px;
	height:367px;
	background:#f5f5f5;
    clear:both;
	font-family:my;
	color:#b4b4b4;
	}	
	
		.pic1a{
	width:320px;
	height:366px;
	background:#f5f5f5;
     float:left;
	font-size:12px
	
	}		
	
	
.content01{
	width:1280px;
	height:173px;
	background:#FFFFFF;
     font-family:my;
	 text-align:center;
	 line-height:250px;
	 font-size:35px;
	 color:#5C5C5C;
	
	}	
		
	
.box{
	width:1280px;
	height:566px;
	background:#FFFFFF;
     display: flex;
  justify-content: center;
  color:#A0A0A0;
  font-family:myfont;
  font-size:12px;
 
	
	}
	
.box1 img{
	
	 transition:all 0.8s ease;
	 
     
	}
	
	.box1:hover img{
	
	transform: scale(0.8);
	 border-radius:10%;
	  
}
	
	.box1{
	width:293px;
	height:367px;
	background:#FFFFFF;
	float:left;
	margin:10px;
	
    
	
	}	
			
.number{
	width:1280px;
	height:276px;
	background:#5ac8d7;
     display: flex;
  justify-content: center;
	
	}	
		
.number1{
	width:182px;
	height:230px;
	background:#5ac8d7;
	float:left;
	margin:20px;
	font-size:10px;
	font-family:myfont;
	
	

	
	}
	
	.number1a{
	width:85px;
	height:230px;
	background:#5ac8d7;
	float:left;
	line-height:220px;
	text-align:right;
	font-family:my;
	}		
	
	.number1b{
	width:85px;
	height:230px;
	background:#5ac8d7;
	float:right;
	color:#a3e2e9;
	}
			
.tuade{
	width:1280px;
	height:173px;
	background:#FFFFFF;
    font-family:my;
	 text-align:center;
	 line-height:260px;
	 font-size:35px;
	  color:#5C5C5C;
	
	}	
			
.box2{
	width:1280px;
	height:572px;
	background:#FFFFFF;
     display: flex;
  justify-content: center;
     font-family:my;
	 font-size:12px;
	 color:#b4b4b4;
	
	}
	
	.box2a img{
	
	 transition:all 0.8s ease;
	 
     
	}
	
	.box2a:hover img{
	
	
	 border-radius:10%;
	  transform: scale(1.3);
	
} 
	.box2a{
	width:293px;
	height:490px;
	background:#FFFFFF;
	float:left;
	margin:10px;
    	
	}
.content02{
	width:1280px;
	height:451px;
	background:#f5f5f5;
	font-family:my;
	 color:#b4b4b4;
	 
	
	 
	

	
	}	
			
.lienhe{
	width:1280px;
	height:376px;
	background:#FFFFFF;
      display: flex;
  justify-content: center;
	
	}		
	
	
	.lienhe1{
	width:196px;
	height:214px;
	background:#FFFFFF;
    float:left;
     margin:100px 30px 30px 0px;
	 font-family:my;
	 font-size:12px;
    color:#AAAAAA;
	
	
	}		
	
	.lienhe2{
	width:35px;
	height:44px;
	background:#FFFFFF;
    
	
     
	}	
	

.logo2{
	width:1280px;
	height:126px;
	background:#1f1f1f;
   
     
	}	
		
.menu2{
	width:1280px;
	height:42px;
	background:#1f1f1f;
	font-family:my;
   
     
	}	
	
	.menu2 ul{
           list-style:none;

	
	}
	
		.menu2 ul li {
	float:left;
	padding:13px;
	
	font-size:12px;
	
	}

.menu2 li:hover a{
	
	color:#A4F5FF;
	
}

.menu2  a{
    text-decoration:none;
	color:#FFFFFF;
	margin-left:95px;
	font-size:12px;
	
	
	
}
	
	
	
	
	
	
	
	